@import "@fontsource/material-icons/index.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/600.css";
@import "@fontsource/roboto/latin-ext.css";
html, body { height: 100%;   -webkit-tap-highlight-color: transparent; scroll-behavior: smooth; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.wbba {
  word-break: break-all;
}

.cp {
  cursor: pointer;
}
