apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: bcs
  labels:
    app.kubernetes.io/name: bcs
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    cert-manager.io/cluster-issuer: root-ca-issuer
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-http-version: "1.1"
    nginx.ingress.kubernetes.io/upgrade: "websocket"
    {{- with .Values.ingress.extraAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}

spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - {{ .Values.ingress.domain }}
      secretName: bcs-tls
  rules:
    - host: {{ .Values.ingress.domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: bcs-ui
                port:
                  number: 80
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: bcs-api
                port:
                  number: 80