<mat-toolbar color="primary">
  <button routerLink="/" matIconButton>
    <mat-icon>home</mat-icon>
  </button>
  <span class="cp" routerLink="/">BCS</span>
  <span class="spacer"></span>
  <button [matMenuTriggerFor]="menu" matIconButton>
    @if (!user) {
    <mat-icon>more_vert</mat-icon>
    } @else {
    <mat-icon>person</mat-icon>
    }
  </button>
  <mat-menu #menu="matMenu">
    @if (user) {
    <button routerLink="/settings" mat-menu-item>
      <div id="user-details">
        <img
          [src]="user.picture"
          width="24"
          height="24"
          style="border-radius: 50%; margin-right: 8px"
        />
        <span class="wbba">{{ user.email }}</span>
      </div>
    </button>
    <mat-divider></mat-divider>
    }
    <button mat-menu-item [matMenuTriggerFor]="languageMenu">
      {{ "ui.layout.header.language" | translate }}
    </button>
    <button mat-menu-item [matMenuTriggerFor]="themeMenu">
      {{ "ui.layout.header.theme" | translate }}
    </button>
    <button routerLink="/about" mat-menu-item>
      {{ "ui.layout.header.about" | translate }}
    </button>
    @if (user) {
    <button routerLink="/settings" mat-menu-item>
      {{ "ui.layout.header.settings" | translate }}
    </button>
    <button (click)="onLogoutClicked.emit()" mat-menu-item>
      {{ "ui.layout.header.logout" | translate }}
    </button>
    } @else {
    <button (click)="onLoginClicked.emit()" mat-menu-item>
      {{ "ui.layout.header.login" | translate }}
    </button>
    }
  </mat-menu>
  <mat-menu #languageMenu="matMenu">
    @for (l of allLanguages; track l.code) {
    <button (click)="onLanguageChanged.emit(l.code)" mat-menu-item>
      @if(translate.currentLang === l.code) {
      <mat-icon>check</mat-icon>
      } @else {
      <mat-icon></mat-icon>
      }
      <span>{{ l.name }}</span>
    </button>
    }
  </mat-menu>
  <mat-menu #themeMenu="matMenu">
    <button (click)="onThemeChanged.emit('auto')" mat-menu-item>
      @if(theme === 'auto') {
        <mat-icon>check</mat-icon>
      } @else {
        <mat-icon></mat-icon>
      }
      <span>{{ "ui.layout.header.themes.auto" | translate }}</span>
    </button>
    <button (click)="onThemeChanged.emit('light')" mat-menu-item>
      @if(theme === 'light') {
        <mat-icon>check</mat-icon>
      } @else {
        <mat-icon></mat-icon>
      }
      <span>{{ "ui.layout.header.themes.light" | translate }}</span>
    </button>
    <button (click)="onThemeChanged.emit('dark')" mat-menu-item>
      @if(theme === 'dark') {
        <mat-icon>check</mat-icon>
      } @else {
        <mat-icon></mat-icon>
      }
      <span>{{ "ui.layout.header.themes.dark" | translate }}</span>
    </button>
  </mat-menu>
</mat-toolbar>
